body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("blurred-colorful-wallpaper-background_976742-179.avif");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.0;
}

.header {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
}
#header {
    justify-content: space-between;
    display: flex;
}

.header h1 {
    margin: 0;
}

.navbar {
    float: right;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin-left: 20px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
}

.main {
    padding: 20px;
}

/* Expense form styles */
.expense-form {
    margin-bottom: 40px;
}

.expense-form h2 {
    margin-bottom: 10px;
}

.expense-form label {
    display: block;
    margin-bottom: 5px;
}

.expense-form input[type="text"],
.expense-form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.expense-form button {
    padding: 8px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.expense-form button:hover {
    background-color: #555;
}


.expense-list h2 {
    margin-bottom: 20px;
}


.expense-list li button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.expense-list li button:hover {
    background-color: #555;
}

#searchInput{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#logout{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

#logout :hover {
    background-color: #d32f2f;
}

#searchButton{
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

#deleteall{
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

#download {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}


@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutToRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.alert {
    animation: slideInFromLeft 1.0s ease forwards;
}

.alert.hidden {
    animation: slideOutToRight 0.5s ease forwards;
}

.hidden {
    display: none;
}

